.complete {
  width: 55%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.image {
  margin-bottom: 35px;
}
p {
  margin: 16px 0 48px;
}
@media (max-width: 750px) {
  p {
    font-size: 13px;
  }
}
@media (max-width: 585px) {
  p {
    font-size: 11px;
  }
}
